

.cont {
    position: relative;
    height: 100vh;
    background-image: url('https://i.ibb.co/WH0vFZY/879e58d6-8839-4f91-9469-cd8caa9ba103-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .demo {
    position: relative;
  }
  
  .login {
    position: relative;
    background: rgba(211, 175, 212, 0.9);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
  }
  
  .login__title {
    font-size: 2rem;
    color: #FF3366;
  }
  
  .login__label {
    font-size: 1.2rem;
    color: #fff; 
    margin-right: 10px;
  }
  
  .login__input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .login__checkbox {
    margin-right: 5px;
  }
  
  .login__accept-label {
    font-size: 0.9rem;
    color: #fff; 
  }
  
  .login__submit {
    background: #FF3366;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-top: 1.5rem; 
  }
  
  .login__submit:hover {
    background: #E60057;
  }
  
  .login__message {
    font-size: 1.2rem;
    color: #FF3366;
    margin-top: 20px;
  }
  

  
  .login__checkbox:checked + .login__accept-label {
    color: #FF3366;
  }
  